################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/SmartDms/.vs/SmartDms
/Source/SmartDms/SmartDmsCommon/obj/Debug/netcoreapp3.0/SmartDmsCommon.csprojAssemblyReference.cache
